<!-- <h1> Articles</h1> -->

<table>


  <tbody>
    <% @articles.each do |article| %>
    <div class="jumbotron">
      <div class="container">
        <h1><%= article.title %></h1>
        <p><%= article.body %></p>
        <p><%= article.author %></p>
        <%= link_to 'Show', article, class: 'btn btn-primary ' %>
        <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-primary '   %>
        <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'  %>
        
      </div>
    </div>
     <!--  -->
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path, class: 'btn btn-primary btn-lg' %>
