<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>


<%= comments_tree_for @all_comments %>
<div id="articleCommets"></div>



<%=render 'comments/form', :locals => @article%>
<%= link_to 'Edit Article ', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
